.header {
  background-image: url('../../assests/wave.svg');
  width: 99vw;
  height: 38vh;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  margin-bottom: 5em;
  font-size: 2em;
  font-family: 'Vollkorn', serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

@media screen and (max-width: 1030px) {
  .header {
    margin-top: -30em;
    width: 100vw;
    height: 20vh;
  }
  .heading {
    font-size: 1.7em;
    margin-top: 3em;
  }
}

@media screen and (max-width: 770px) {
  .heading {
    font-size: 1.4em;
    margin-top: 2em;
  }
  .header {
    margin-top: -32em;
  }
}

@media screen and (max-width: 550px) {
  .header {
    margin-top: -8em;
    width: 100vw;
    height: 12vh;
  }

  .heading {
    font-size: 0.8em;
    margin-top: 2em;
  }
}
