body {
  background-color: rgb(245, 244, 244);
  padding: 0;
  margin: 0;
  /* width: 100%; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1030px) {
  .container {
    height: 1200px;
  }
}
